<!-- FOOTER -->
<footer>
  <link rel='stylesheet' href='stylesheets/headerStyle.css' />
  <link rel="stylesheet" href="stylesheets/footerStyle.css">
  <p class='dizeresFooter'>
    Taverna © 2012 - 2021
</p>
<p class='dizeresFooter'>
    Todos os direitos reservados
</p>
  <img id="tavernaFooter" src="img/Taverna.png" alt="">
  <div id="icones">
      <a href="https://www.facebook.com/bandataverna" target="_blank"><img class="footerIcon" src="img/icons/facebook.png" alt=""></a>
      <a href="https://www.instagram.com/bandataverna/" target="_blank"><img class="footerIcon" src="img/icons/instagram.png" alt=""></a>
      <a href="https://www.youtube.com/c/BandaTaverna" target="_blank"><img class="footerIcon" src="img/icons/youtube.png" alt=""></a>
      <a href="https://open.spotify.com/artist/4E2XVEYULgAjCObKNyuZim?si=936bd6b6afa14316" target="_blank"><img class="footerIcon" src="img/icons/spotify.png" alt=""></a>
      <!-- <img class="footerIcon" src="img/icons/deezer.png" alt="">
      <img class="footerIcon" src="img/icons/apple.png" alt=""> -->
      
  </div>
  
</footer>
<!-- fim do FOOTER -->
</body>
</html>