<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taverna</title>
    <link rel="icon" type="image/x-icon" href="./img/icon.png">
    <link rel="stylesheet" href="./css/headerStyle.css">
    <link rel="stylesheet" href="./css/footerStyle.css">
    <link rel="stylesheet" href="./css/bodyStyle.css">
</head>
<body>
    <!-- HEADER -->
    <header>
      <link rel='stylesheet' href='stylesheets/headerStyle.css' />
        <nav>
          
          <div id="logo">
            <a href="./index.html"><img id="logoHeader" src="./img/Tzinho.png" alt=""></a>
          </div>
    
    
          <div id="menu">
            <ul>
              <li><a class="link" href="./">home</a></li> 
              <li><a class="link" href="./about">A banda</a></li> 
              <li><a class="link" href="./merchan.html">merchan</a></li>
              <li><a class="link" href="./media.html">media</a></li>
              <li><a class="link" href="./agenda"> agenda </a></li>
              <li><a class="link" href="./presskit.html">pressKit</a></li>
              <li><a class="link" href="./contato.html">contato</a></li>
            </ul>
          </div>
          
          
          
        </nav>
      </header>