<%- include('./partials/header')%>
        
        <!-- CONTEUDO PRINCIPAL -->
        <main id="abanda">
          <div id="bioBanda">
            A banda Taverna, um dos principais nomes da música celta em Minas Gerais,
            conta com 5 músicos mineiros, que dedicam sua vida em trazer ao presente,
            o passado épico das civilizações celtas e medievais, brincando com temas modernos
            escondidos em suas versões das músicas tradicionais. 
        
          </div>
          <div id="resumoMembros">
            <hr/>
            <div id="membro">
              <img src="./img/fotos/Romulo.png" alt="" class="fotoTodos">
              <h2>Romulo Salobreña</h2>
              
            </div>
            <p>Viola, Violino, Viela de Roda(Hurdy Gurdy), Backing Vocals</p>
            <hr/>
            <div id="membro">
              <h2>Rafael Salobreña</h2>
              <img src="./img/fotos/Rafael.png" alt="" class="fotoTodos">
              
            </div>
            <p>
              Bodhran, Percussão, Kazoo, Backing Vocals
            </p>
            <hr/>
            <div id="membro">
              <img src="./img/fotos/Fofao.png" alt="" class="fotoTodos">
              <h2>Gustavo “Fofão”</h2>
              
            </div>
            <p>
              Violões, Bouzouki, Concertina, Baixo, Percussão, Backing Vocals
            </p>
            <hr/>
            <div id="membro">
              <h2>Mariana Roque</h2>
              <img src="./img/fotos/Mariana.png" alt="" class="fotoTodos">
              
            </div>
            <p>
              Vocais, Harpa Celta, Percussão, Backing Vocals
            </p>
            <hr/>
            <div id="membro">
              <img src="./img/fotos/Joao.png" alt="" class="fotoTodos">
              <h2>João Gabriel</h2> <br/>
              
            </div>
            <p style="text-align: center;">
              Bandolim, Banjo Tenor, Flautas e Uilleann Pipe, Backing Vocals
            </p>
            
            

          </div>
        </main>
        <!-- fim do CONTEUDO PRINCIPAL -->

<%- include('./partials/footer')%>