<%- include('./partials/header')%>
<link rel="stylesheet" href="./css/formStyle.css">
<form action="/shows" method="POST" enctype="multipart/form-data">
  <input name="address" id="address" placeholder="Onde será o Show?"/>
  <input name="when" id="when" placeholder="Quando será o Show? AAAA-MM-DDTHH:MM:SSZ"/>
  <input name="contact" id="contact" placeholder="tem algum contato desse show para mostrar ao público???"/>
  <input name="mapsLink" id="mapsLink" placeholder="coloca aqui o link do google maps"/>
  <input name="income" id="income" placeholder="Quantos dinares nos vamos ganhar nessa gig?"/>
  <input name="fee" id="fee"  placeholder="quanto custam os ingressos?"/>
  <button type="submit">Criar Show</button>
</form>
<%- include('./partials/footer')%>