<%- include('./partials/header')%>
<form>
  <input name="address" placeholder="Onde será o Show?"/>
  <input name="when" placeholder="Quando será o Show? Formato: AAAA-MM-DDTHH:MM:SSZ"/>
  <input name="contact" placeholder="tem algum contato desse show para mostrar ao público???"/>
  <input name="mapsLink" placeholder="coloca aqui o link do google maps"/>
  <input name="income" placeholder="Quantos dinares nos vamos ganhar nessa gig?"/>
  <input name="fee" placeholder="quanto custam os ingressos?"/>
  <button type="submit">Criar Show</button>
</form>
<%- include('./partials/footer')%>