

form {
    margin-top: 60px;
    width: 100%;
    /* height: 100%; */
    /* background-color: rgba(128, 128, 128, 0.9); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    
  }
label {
    width: 500px;
    height: 50px;
    display: flex;
    
    align-items: center;
    margin-bottom: 20px;
    
}
input {
   width: 100%;
   height: 40px;
   background-color: rgba(35, 0, 0, 0.8);;
   border: none;
   border-radius: 15px;
   padding: 15px;
   font-size: x-large;
   color: peachpuff;
   margin-right: 20px;
   box-shadow: 15px 15px 15px rgba(35, 0, 0, 0.6);
}
button {
    margin-top: 50px;
    align-self: center;
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 350px;
    background-color: peachpuff;
    font-size: larger;
    box-shadow: 15px 15px 15px rgba(35, 0, 0, 0.6);
  }
::placeholder{
    color:darkgoldenrod;
}

/* @media screen and (max-width: 1350) {
  input{
    width:90%;
    margin-bottom: 30px;
  }
  
} */