<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taverna</title>
    <link rel="icon" type="image/x-icon" href="./img/icon.png">
    <link rel="stylesheet" href="./css/headerStyle.css">
    <link rel="stylesheet" href="./css/footerStyle.css">
    <link rel="stylesheet" href="./css/bodyStyle.css">
    <script src="./scriptPraEnviarOEmail.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
        emailjs.init("user_b6Z8hKKaxhQxNF2BzMPsk");
        })();
    </script>
</head>
<body>
    <!-- HEADER -->
    <header>
      <link rel='stylesheet' href='stylesheets/headerStyle.css' />
        <nav>
          
          <div id="logo">
            <a href="./index.html"><img id="logoHeader" src="./img/Tzinho.png" alt=""></a>
          </div>
    
    
          <div id="menu">
            <ul>
              <li><a class="link" href="./index.html">home</a></li> 
              <li><a class="link" href="./abanda.html">A banda</a></li> 
              <li><a class="link" href="./merchan.html">merchan</a></li>
              <li><a class="link" href="./media.html">media</a></li>
              <li><a class="link" href="./agenda.html"> agenda </a></li>
              <li><a class="link" href="./presskit.html">pressKit</a></li>
              <li><a class="link" href="./contato.html">contato</a></li>
            </ul>
          </div>
          
          
          
        </nav>
      </header>
        <!-- fim do HEADER -->
        
        <!-- CONTEUDO PRINCIPAL -->
        <main>
          <h2>Entre em contato com a gente!</h2><br/>
          
          <input type="text" id="fromName" placeholder="Seu nome aqui" />
          <input type="email" id="email" placeholder="Seu e-m@il aqui" />
          <textarea name="menssagem" id="msg" placeholder="Sua menssagem aqui" cols="30" rows="10"></textarea>
          <button onclick="enviar()" style="margin-bottom: 50px;">Enviar</button>
          <h4>Direct management contact:  <a style="margin-bottom: 10px; " class="linkdetabela" href="mailto:coolhatrecords@gmail.com?subject=Taverna's management"> coolhatrecords@gmail.com </a></h4>
          

        </main>
        <!-- fim do CONTEUDO PRINCIPAL -->

        <!-- FOOTER -->
        <footer>
            <link rel='stylesheet' href='stylesheets/headerStyle.css' />
            <link rel="stylesheet" href="stylesheets/footerStyle.css">
            <p class='dizeresFooter'>
              Taverna © 2012 - 2021
          </p>
          <p class='dizeresFooter'>
              Todos os direitos reservados
          </p>
            <img id="tavernaFooter" src="img/Taverna.png" alt="">
            <div id="icones">
                <a href="https://www.facebook.com/bandataverna" target="_blank"><img class="footerIcon" src="img/icons/facebook.png" alt=""></a>
                <a href="https://www.instagram.com/bandataverna/" target="_blank"><img class="footerIcon" src="img/icons/instagram.png" alt=""></a>
                <a href="https://www.youtube.com/c/BandaTaverna" target="_blank"><img class="footerIcon" src="img/icons/youtube.png" alt=""></a>
                <a href="https://open.spotify.com/artist/4E2XVEYULgAjCObKNyuZim?si=936bd6b6afa14316" target="_blank"><img class="footerIcon" src="img/icons/spotify.png" alt=""></a>
                <!-- <img class="footerIcon" src="img/icons/deezer.png" alt="">
                <img class="footerIcon" src="img/icons/apple.png" alt=""> -->
                
            </div>
            
        </footer>
        <!-- fim do FOOTER -->
</body>
</html>s