<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taverna</title>
    <link rel="icon" type="image/x-icon" href="./img/icon.png">
    <link rel="stylesheet" href="./css/headerStyle.css">
    <link rel="stylesheet" href="./css/footerStyle.css">
    <link rel="stylesheet" href="./css/bodyStyle.css">
</head>
<body>
    <!-- HEADER -->
    <header>
      <link rel='stylesheet' href='stylesheets/headerStyle.css' />
        <nav>
          
          <div id="logo">
            <a href="./index.html"><img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " id="logoHeader" src="./img/Tzinho.png" alt=""></a>
          </div>
    
    
          <div id="menu">
            <ul>
              <li><a class="link" href="./index.html">home</a></li> 
              <li><a class="link" href="./abanda.html">A banda</a></li> 
              <li><a class="link" href="./merchan.html">merchan</a></li>
              <li><a class="link" href="./media.html">media</a></li>
              <li><a class="link" href="./agenda.html"> agenda </a></li>
              <li><a class="link" href="./presskit.html">pressKit</a></li>
              <li><a class="link" href="./contato.html">contato</a></li>
            </ul>
          </div>
          
          
          
        </nav>
      </header>
        <!-- fim do HEADER -->
        
        <!-- CONTEUDO PRINCIPAL -->
        <main>
          <hr/>
          <div >
            <h3>Link for our bandcamp</h3><br/>
            <a class="linkdetabela" href="https://bandataverna.bandcamp.com" target="__blank"> Band Camp Store</a>
          </div>
          <hr/>
          <div id="cd">
            <img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " id='fotocd'src="./img/fotos/380A1D7F-D9FF-4038-90A9-D85BDEBE2724.png" alt="">
            <div id='descricao'>
              <h3>Álbum Libertas físico <br/> preço - R$ 25,00 </h3>
            </div>
          </div>
          <div id="cd">
            <img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " id='fotocd' src="./img/caneca1.jpg" alt=""/>
            <div id='descricao'>
              <h3>Caneca encarte CD preta <br/> preço - R$ 50,00 </h3>
            </div>
          </div>
          <div id="cd">
            <img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " id='fotocd' src="./img/caneca2.jpg" alt=""/>
            <div id='descricao'>
              <h3>Caneca encarte CD branca <br/> preço - R$ 50,00 </h3>
            </div>
          </div>
          <div id="cd">
            <img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " id='fotocd' src="./img/caneca3.jpg" alt=""/>
            <div id='descricao'>
              <h3>Caneca Pixelart jogguinho 8bit <br/> preço - R$ 50,00 </h3>
            </div>
          </div>
          <div id="cd">
            <img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " id='fotocd' src="./img/caneca4.jpg" alt=""/>
            <div id='descricao'>
              <h3>Caneca Pixelart Castelinho <br/> preço - R$ 50,00 </h3>
            </div>
          </div>
        </main>
        <!-- fim do CONTEUDO PRINCIPAL -->

        <!-- FOOTER -->
        <footer>
            <link rel='stylesheet' href='stylesheets/headerStyle.css' />
            <link rel="stylesheet" href="stylesheets/footerStyle.css">
            <p class='dizeresFooter'>
              Taverna © 2012 - 2021
          </p>
          <p class='dizeresFooter'>
              Todos os direitos reservados
          </p>
            <img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " id="tavernaFooter" src="img/Taverna.png" alt="">
            <div id="icones">
                <a href="https://www.facebook.com/bandataverna" target="_blank"><img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " class="footerIcon" src="img/icons/facebook.png" alt=""></a>
                <a href="https://www.instagram.com/bandataverna/" target="_blank"><img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " class="footerIcon" src="img/icons/instagram.png" alt=""></a>
                <a href="https://www.youtube.com/c/BandaTaverna" target="_blank"><img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " class="footerIcon" src="img/icons/youtube.png" alt=""></a>
                <a href="https://open.spotify.com/artist/4E2XVEYULgAjCObKNyuZim?si=936bd6b6afa14316" target="_blank"><img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " class="footerIcon" src="img/icons/spotify.png" alt=""></a>
                <!-- <img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " class="footerIcon" src="img/icons/deezer.png" alt="">
                <img style="box-shadow: 3px 3px 5px black; border-radius: 5px; margin-bottom: 10px; " class="footerIcon" src="img/icons/apple.png" alt=""> -->
                
            </div>
            
        </footer>
        <!-- fim do FOOTER -->
</body>
</html>