<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taverna</title>
    <link rel="icon" type="image/x-icon" href="./img/icon.png">
    <link rel="stylesheet" href="./css/headerStyle.css">
    <link rel="stylesheet" href="./css/footerStyle.css">
    <link rel="stylesheet" href="./css/bodyStyle.css">
</head>
<body>
    <!-- HEADER -->
    <header>
      <link rel='stylesheet' href='stylesheets/headerStyle.css' />
        <nav>
          
          <div id="logo">
            <a href="./index.html"><img id="logoHeader" src="./img/Tzinho.png" alt=""></a>
          </div>
    
    
          <div id="menu">
            <ul>
              <li><a class="link" href="./index.html">home</a></li> 
              <li><a class="link" href="./abanda.html">A banda</a></li> 
              <li><a class="link" href="./merchan.html">merchan</a></li>
              <li><a class="link" href="./media.html">media</a></li>
              <li><a class="link" href="./agenda.html"> agenda </a></li>
              <li><a class="link" href="./presskit.html">pressKit</a></li>
              <li><a class="link" href="./contato.html">contato</a></li>
            </ul>
          </div>
          
          
          
        </nav>
      </header>
        <!-- fim do HEADER -->
        
        <!-- CONTEUDO PRINCIPAL -->
        <main>
          <hr/>
          <img src="" alt="">
          <div class="tituloMembro">
            <h1>Römulo Salobreña</h1>
          </div>

          <hr/>
          <div id="bioIndividual">
            <p>
              Romulo Salobreña iniciou seus estudos musicais com 14 anos, pelo Centro de Formação Artística do 
Palácio das Artes (CEFAR, atual CEFART) como estudante de Violão clássico, em 2004. 
Concluiu o curso de Violão em 2008. Integrou o coro Madrigale de 2008 a 2012. Em 2009, iniciou o curso de Viola, 
também pelo Palácio das Artes, e permaneceu ali por 3 anos, antes de ingressar na Universidade Federal do Estado de 
Minas Gerais (UFMG), em 2012, no curso de Bacharelado em Viola, com a classe do Professor Dr. Carlos Aleixo. 
Neste meio tempo, ingressou em três corpos artísticos com temáticas diferentes, entre eles o Canção das Iluminuras, um 
grupo de pesquisa histórica e de reprodução de músicas utilizando instrumentos de época. 
Faz parte da banda Taverna desde 2012, sendo um de seus fundadores, e do Rocking Strings desde 2016, um quarteto de 
cordas e bateria, com sonoridade especializada em Rock ´n Roll, que permanece em constante e intensa atividade. Já se 
apresentou diversas vezes como músico convidado ou abrindo shows de artistas nacionais e internacionais, entre eles 
FAUN, Gaiteiro Carlos Nuñes, Tuatha de Dannan, Skyclad entre outros
            </p>
          </div>
        </main>
        <!-- fim do CONTEUDO PRINCIPAL -->

        <!-- FOOTER -->
        <footer>
            <link rel='stylesheet' href='stylesheets/headerStyle.css' />
            <link rel="stylesheet" href="stylesheets/footerStyle.css">
            <p class='dizeresFooter'>
              Taverna © 2012 - 2021
          </p>
          <p class='dizeresFooter'>
              Todos os direitos reservados
          </p>
            <img id="tavernaFooter" src="img/Taverna.png" alt="">
            <div id="icones">
                <a href="https://www.facebook.com/bandataverna" target="_blank"><img class="footerIcon" src="img/icons/facebook.png" alt=""></a>
                <a href="https://www.instagram.com/bandataverna/" target="_blank"><img class="footerIcon" src="img/icons/instagram.png" alt=""></a>
                <a href="https://www.youtube.com/c/BandaTaverna" target="_blank"><img class="footerIcon" src="img/icons/youtube.png" alt=""></a>
                <a href="https://open.spotify.com/artist/4E2XVEYULgAjCObKNyuZim?si=936bd6b6afa14316" target="_blank"><img class="footerIcon" src="img/icons/spotify.png" alt=""></a>
                <!-- <img class="footerIcon" src="img/icons/deezer.png" alt="">
                <img class="footerIcon" src="img/icons/apple.png" alt=""> -->
                
            </div>
            
        </footer>
        <!-- fim do FOOTER -->
</body>
</html>