<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taverna</title>
    <link rel="icon" type="image/x-icon" href="./img/icon.png">
    <link rel="stylesheet" href="./css/headerStyle.css">
    <link rel="stylesheet" href="./css/footerStyle.css">
    <link rel="stylesheet" href="./css/bodyStyle.css">
</head>
<body>
    <!-- HEADER -->
    <header>
      <link rel='stylesheet' href='stylesheets/headerStyle.css' />
        <nav>
          
          <div id="logo">
            <a href="./index.html"><img id="logoHeader" src="./img/Tzinho.png" alt=""></a>
          </div>
    
    
          <div id="menu">
            <ul>
              <li><a class="link" href="./index.html">home</a></li> 
              <li><a class="link" href="./abanda.html">A banda</a></li> 
              <li><a class="link" href="./merchan.html">merchan</a></li>
              <li><a class="link" href="./media.html">media</a></li>
              <li><a class="link" href="./agenda.html"> agenda </a></li>
              <li><a class="link" href="./presskit.html">pressKit</a></li>
              <li><a class="link" href="./contato.html">contato</a></li>
            </ul>
          </div>
          
          
          
        </nav>
      </header>
        <!-- fim do HEADER -->
        
        <!-- CONTEUDO PRINCIPAL -->
        <main>
          <hr/>
          <img src="" alt="">
          <div class="tituloMembro">
            <h1>Römulo Salobreña</h1>
          </div>

          <hr/>
          <div id="bioIndividual">
            <p>
              - Iniciou os estudos em música aos 12 anos, aprendendo a tocar violão. Posteriormente, estudou guitarra com os 
professores Marcio Costa e Felipe Guerzoni. 
- De forma autodidata, passou a estudar flauta transversal e bandolim, o que precedeu o estudo de instrumentos típicos 
da cultura Celta, como a Uilleann Pipes (Gaita de Fole Irlandesa), a Tin Whistle, e o Banjo Tenor; 
- 2018: Master Class de Tin Whistle, promovida pela Comhaltas Brasil, ministrada por Attracta Brady (Conceituada 
musicista irlandesa). A Comhaltas Brasil é a filial brasileira da Comhaltas Ceoltóirí Éireann, maior grupo de preservação e 
promoção da música tradicional irlandesa; 
- 2018: Master Class de Banjo Tenor, promovida pela Comhaltas Brasil, ministrada por Gavin Strapp (banjoísta do Grupo 
Celtic Legends); 
- 2019: Participação do Spanish Peaks Piping Retreat, com aulas de Uilleann Pipes, ministradas por Cillian Vallely (gaiteiro 
da banda Lunasa e referência mundial no instrumento); 
-2020 (em andamento): Estudo de Tin Whistle e de Uilleann Pipes na Academia Online de Música Irlandesa (OAIM) 
- 2021: Master Class de Irish Flute (Flauta Transversal Irlandesa) promovida pela Comhaltas Brasil, ministrada por James 
Mahon (Flautista/Gaiteiro da Banda Kila e referência mundial nestes instrumentos); 
- 2021: Master Class de Tin Whistle, promovida pela Comhaltas Brasil, ministrada por Attracta Brady (Conceituada 
musicista irlandesa); 
-2021 (em andamento): Curso de violão “Aprendendo Fingerstyle”, ministrado por Gustavo Florentino da Cunha (Gustavo 
Fofão) e Leo Eymard.
Experiência Profissional 
- 2001: Participação do Festival Intercolegial da Canção “Vozes Solidárias”, promovido pela Rede Pitágoras, abrangendo 
colégios de todo o estado de Minas Gerais. A participação foi como integrante da Banda “Salva Vidas de Aquário” (nome 
dado em função da baixa estatura dos integrantes que tinham, em média, 14 anos). A canção autoral submetida, chamada 
“O que custa ajudar?”, se classificou para a apresentação regional (em Tiradentes-MG), ficando com a 3a colocação em 
sua categoria e sendo gravada em um CD juntamente com as demais canções vencedoras; 
- 2017: Passa a ser membro da Banda Taverna, tocando flauta transversal, Uilleann Pipes (Gaita de Fole Irlandesa), Tin 
Whistle, Bandolim e Banjo Tenor; 
- 2017: Participação na gravação do EP da musicista Laura Zennet, mais especificamente na faixa “Dentes do Destino”; 
- Dentre os muitos shows realizados com a Banda Taverna, destacam se: 
a) performance (show) na Utah Renaissance Faire (Feira Renascentista de Utah), em 2018, na cidade de Lehi (Utah-EUA); 
b) performance (show) em evento de abertura do Féile promovido pela Comhaltas Brasil, em São Paulo, no ano de 2018; 
c) performance (show) no evento Canmore Highland Games, realizado em 2019 na cidade de Canmore, no Canadá; 
d) performance (show) no evento Spanish Peaks Celtic Festival, realizado em 2019 na cidade de La Veta (Colorado-EUA). 
Neste festival estiveram referências mundiais da música Celta. 
            </p>
          </div>
        </main>
        <!-- fim do CONTEUDO PRINCIPAL -->

        <!-- FOOTER -->
        <footer>
            <link rel='stylesheet' href='stylesheets/headerStyle.css' />
            <link rel="stylesheet" href="stylesheets/footerStyle.css">
            <p class='dizeresFooter'>
              Taverna © 2012 - 2021
          </p>
          <p class='dizeresFooter'>
              Todos os direitos reservados
          </p>
            <img id="tavernaFooter" src="img/Taverna.png" alt="">
            <div id="icones">
                <a href="https://www.facebook.com/bandataverna" target="_blank"><img class="footerIcon" src="img/icons/facebook.png" alt=""></a>
                <a href="https://www.instagram.com/bandataverna/" target="_blank"><img class="footerIcon" src="img/icons/instagram.png" alt=""></a>
                <a href="https://www.youtube.com/c/BandaTaverna" target="_blank"><img class="footerIcon" src="img/icons/youtube.png" alt=""></a>
                <a href="https://open.spotify.com/artist/4E2XVEYULgAjCObKNyuZim?si=936bd6b6afa14316" target="_blank"><img class="footerIcon" src="img/icons/spotify.png" alt=""></a>
                <!-- <img class="footerIcon" src="img/icons/deezer.png" alt="">
                <img class="footerIcon" src="img/icons/apple.png" alt=""> -->
                
            </div>
            
        </footer>
        <!-- fim do FOOTER -->
</body>
</html>